<body>
  <h1>{{ title }}</h1>

  <div id="tarot-container">
    <div id="pentacles" class="card">
      <img src="../assets/Pents11.png" />
      <button (click)="selectCard($event)">Pick me</button>
    </div>

    <div id="cups" class="card">
      <img src="../assets/Cups11.jpeg" />
      <button (click)="selectCard($event)">Pick me</button>
    </div>

    <div id="wands" class="card">
      <img src="../assets/wands.png" />
      <button (click)="selectCard($event)">Pick me</button>
    </div>

    <div id="swords" class="card">
      <img src="../assets/swords.png" />
      <!-- <button [disabled]="swords.selected" (click)="selectCard($event)">
        Pick me
      </button> -->
      <button (click)="selectCard($event)">Pick me</button>
    </div>
  </div>
</body>
